
body{
    height: 100%;
    width: 100%;
                   
    
}   
.airplane{
    left: 92px;
    top: 82px;
    position: relative;
    height: 7%;
    width: 7%;
}
.gameArea{
    
}
#worldMap{
    height: 100%;
    width: 100%;
}
#planeimg{
    
    height: 100%;
    width: 100%;
}
#brazil{
    height: 5%;
    width: 5%;
}