
body{
    height: 100%;
    width: 100%;
                   
    
}   
.airplane{
    left: 92px;
    top: 82px;
    position: absolute;
    height: 5%;
    width: 5%;
}
.pin{
    position: absolute;
    height: 25%;
    width: 15%;

}
.gameArea{
    position: relative;
    height: 200px; 
    width: 407px;
}
#europe{
    top: 69px;
    left: 187px;
}
#brazil{
    top: 142px;
    left: 128px;
}
#india{
    top: 103px;
    left: 275px;
}
#kenya{
    top: 119px;
    left: 229px;
}
#worldMap{
    height: 200px;
    width: 407px;
}
#planeimg{
    
    height: 100%;
    width: 100%;
}
#flagContainer{
    top: 0%;
    left: 90%;
    position: absolute;
    height: 15%;
    width: 10%;
}
#flag{
    object-fit: fill; 
    height: 100%;
    width: 100%;
}
